.resource-card{
    width: 30%;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 20px;
    /* background-image: url("../resources.svg"); */
}

.item2{
    background-image: linear-gradient(to right,#f5e9f7,#e7e6f4,#eee7f9);
}

.item3{
    background-image: linear-gradient(to right,#e6f7f7,#ecf4f7,#e6f0fa);
}

.item1{
    background-image: linear-gradient(to right,#f7eaf1,#ecf4f7,#f8e8e8);

}

.heading{
    color:#060509 ;
    font-family: "roboto";
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
}
.resources-img{
    width:100% ;
}