.dashboard-main-container{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url("../../../public/heroback.jpeg"); */
    background-size: cover;
    align-items: center;
    
   
}
.container-1{
    height: 280px;
    width: 100%;
    text-align: start;
    padding-top: 30px;
    
}
.hero-background{
    height: 100%;
    width: 100%;
}
/* .title{
    margin-top: 80px;
    font-size: 70px;
    color:#ffffff;
    text-align: center;
} */
.container-2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left:20px ;
    padding-right:20px ;

}

.certification-and-popular-course-container{
    display: flex;
    justify-content: space-between;
}
.certified-courses-container{
    background-color:rgb(255, 255, 255);
    width: 48%;
    padding: 0px;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);


}



.list-items{
    list-style-type:none;
    padding: 0px;
    margin-left: 10px;
    
    
}

.certification-images{
    width:100%;
    height: 40%;
    
    
    
}
@media screen and (min-width:960px){
    .container-2{
       width: 95%;
    
    }
   
    .certified-courses-container{
       display: flex;
       flex-direction:row ;
    }
    .certification-images{
        width:40%;
        height: 100%;
        
        
        
    }
    .container-1{
        height: 350px;
       
        
    }

}
.course-category-head{
    font-family: "Roboto";
    color: rgb(24, 35, 140);
    font-size: 22px;
    margin-left: 10px;
    
}
.icons{
    margin-right: 10px;
}
.certified-popular-items{
    font-family: "Roboto";
    color: rgb(50, 42, 109);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding-left: 0px;
}
.view-more-button{
    background-color: #b1a735;
    border: 1px solid;
    font-family: 'Roboto';
    border:none;
    cursor: pointer;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-left:10px;
    font-size: 14px;
    color: rgb(255, 255, 254);
    
}
.most-popular-title{
    font-family: "Roboto";
    color: rgb(250, 250, 250);
    font-size: 34px;
    margin-left: 8px;
}
.container-3{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    padding-right: 30px;

}